<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>register</title>
</head>

<body>
    <h1> REGISTER</h1>
    <div id="wrapper">
        <form id="form-login" action="/register" method="post">
            <table>
                <tr>
                    <td><label for="name_user"> name </label></td>
                    <td><input type="text" name="name_user" id="name_user" required value="{{request.form.name_user }}">
                    </td>
                </tr>
                <tr>
                    <td><label for="email"> Email </label></td>
                    <td><input type="email" name="email" id="email" required value="{{request.form.email }}"></td>
                </tr>
                <tr>
                    <td><label for="password"> Password </label></td>
                    <td><input type="password" name="password" id="password" required></td>
                </tr>
                <tr>
                    <td colspan="2"> <input type="submit" value="REGISTER"> </td>
                </tr>
            </table>
        </form>

    </div>


</body>

</html>